html {
    font-family: 'Lato', sans-serif;
    color: rgb(58, 58, 58);
    background-color: rgb(230, 230, 230);
}

#budgetForm{
    text-align: center;
    padding: 1%;
}

input{
    font-size: 10px;
    padding: 7px;
    background-color: rgb(245, 245, 245);
    outline:none;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 4px;
}

#budgetForm form #budgetSubmit{
    margin-top: 15px;
    padding: 7px;
    background-color: white;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 4px;
}

.BudgetDiv{
    box-sizing: content-box;
    background-color: rgb(193, 255, 250);
    border: 2px solid #999999;
    border-radius: 8px;
    padding: 1%;
}

.BudgetDiv h1{
    text-align: center;
}

.BudgetDiv form{
    left: 20%
}