html {
    font-family: 'Lato', sans-serif;
    color: rgb(58, 58, 58);
    background-color: rgb(230, 230, 230);
}

#budgetForm{
    text-align: center;
    padding: 1%;
}

#loginForm{
    box-sizing: content-box;
    margin: 0 auto;
    width: 30%;
    text-align: center;
    padding: 1%;
}
#usernameLogin{
    margin-bottom: 1%;
}

#signup{
    text-align: center;
}

#loginForm input[type="submit"]{
    margin-top: 1%;
}

input{
    font-size: 10px;
    padding: 7px;
    background-color: rgb(245, 245, 245);
    outline:none;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 4px;
}

#budgetForm form #budgetSubmit{
    margin-top: 15px;
    padding: 7px;
    background-color: white;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 4px;
}

#budgetTitle{
    margin-bottom: 1%;
}

#budgetSubmit{
    margin-top: 1%;
}

.BudgetDiv{
    box-sizing: content-box;
    background-color: rgb(193, 255, 250);
    border: 2px solid #999999;
    border-radius: 8px;
    padding: 1%;
}

.BudgetDiv h1{
    text-align: center;
}

.BudgetDiv form{
    left: 20%
}

div[id^="budget"]{
   margin: 0 auto;
    border: 2px solid #999999;
    border-radius: 8px;
    box-sizing: content-box;
    width: 70%;
}

h1[id^="BudgetTitle"]{
text-align: center;
}

table, th, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
  }